h1, h2 {
    color:crimson;
    font-size:36px;
    text-decoration: underline;
}
body {
    background-color:aquamarine;
    font-size: 20px;
    color:darksalmon;

}
ol {
    list-style: square;
}

}
