* {
    box-sizing: border-box;
}

p {
    font-size: 38px;
}

.bigDiv {
    height: 100px;
    background-color:aquamarine;
    width: 100px;
    position: relative;
}
#childDiv {
    height: 50px;
    width: 50px;
    background-color:cornflowerblue
}
.bigDiv div {
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
    position: relative;
    top: -10px;
    left: -20px;
    border: 3px solid orange;
}
.bigDiv .offThePage{
    position: absolute;
    top: 100px;
    left: 100px;
}

nav div {
    height: 50px;
    width: 50px;
    background-color:cornflowerblue;
    display: inline-block

}
nav {
    height: 200px;
    width: 200px;
    padding: 30px 10px;
    margin: 30px auto;
    border: 3px solid black;
    text-align: center;
}
main article{
    height: 200px;
    width: 20%;
    padding: 30px 10px;
    margin: 5%;
    border: 3px solid black;
    float: left;
}
figure {
    float:left;
}
section {
    width:70%;
    background-color: aqua;
    overflow: hidden;
    float: left;
}
aside{
    width: 25%;
    height:500px;
    background-color: chocolate;
    float: right;
}
footer {
    height: 100px;
    background-color: darkorchid;
    position: fixed;
    bottom: 0;
    width:100%;

}

figcaption {
    display: none;
}
img:hover {
   /* opacity: .5;*/
}
/*img:hover + figcaption{
    display: block;
}*/
